@import url(styles/header.css);
:root{
--cor-de-fundo: #751212;
--cor-de-cabecalho: #ffffff;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}

header{
    background-color: var(--cor-de-cabecalho);
}

.container {
    display: flex;
    align-items: center;    
}

.container_imagem, .container_frase{
    padding: 2em;
    }
